<div id="controles">

  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>
  <a href="/products">
  <button type="submit">Manager Productos</button>
</a>
  <a href="/cart">
  <button type="submit">Manager Carritos</button>
</a>
  <a href=>
  <button type="submit">Manager Tickets</button>
</a>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>
</div>