<div>
  <h1>RESTABLECE TU CONTRASEÑA</h1>

  <form action="" id="restoreForm">
    <label for="">correo para reestablecer</label>
    <input name="email" type="email" />

    <label for="">nueva contraseña</label>
    <input name="password" type="password" />

    <input type="submit" />

  </form>
</div>

<script src="/js/restorePassword.js "></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>